* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}
.offer{
    padding: 10px;
    background-color: rgba(10, 200, 42, 0.3);
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    
}

.offer p{
    display: inline-block;
    padding-left: 100%;
    animation: scrollOffer 30s linear infinite;
    font-weight: 600;
}

@keyframes scrollOffer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


header {
    background: #111;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 30px;
}

header h1{
    margin: 0px auto;
}

header nav{
    position: absolute;
    right: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.category{
    background: linear-gradient(to right, #1e4726, #36c150);
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.cat{
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    gap: 25px;
    
}
.cat a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.cat a:hover {
    color: #e60023;
    background-color: rgb(244, 195, 103);
}



.hero {
    background: linear-gradient(to right, #000, #c13636);
    color: white;
    text-align: center;
    padding: 380px 20px;
    font-size: xx-large;
}

section{
    border-bottom: 1px solid rgb(188, 188, 188);
    
}

.products {
    padding: 40px;
    text-align: center;
}

.products h2 {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    text-align: center;
    background: linear-gradient(to right, #000, #36c150);
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.product {
    display: inline-block;
    background: white;
    padding: 0px;
    margin: 15px;
    border-radius: 0px;
    width: 220px;
    box-shadow: 0 5px 85px rgba(10, 200, 42, 0.5);
}

.product img {
    width: 100%;
    border-radius: 0px;
   
}

.product button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;
}

.product button:hover {
    background: #ff0000;
}

.about{
    background-color: rgba(10, 200, 42, 0.3);
    color:black;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.input{
    padding: 5px;
    border-radius: 20px;
}
input:hover{
    border: 2px solid #c13636;
}

.button{
    background-color: #000;
    color: white;
    padding: 10px;
}
button:hover{
    background-color: white;
    color: black;
}

.tag{
    background-color: rgba(10, 200, 42, 0.3);
    padding: 100px;
    padding-top: 0px;
}
.cart {
    padding: 40px;
    background: white;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}
